.home-impact {
    padding: 2rem var(--global-layout-padding-gutter);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.home-impact__list {
    display: flex;
    flex-direction: column;
    gap: .85rem;
}

.home-impact__list-item {
    opacity: .9;
}

@media (min-width: 64rem) {
    .home-impact {
        margin: 0 auto;
        align-self: center;
        max-width: 90rem;
    }
}

@keyframes slide-right {
    0% {
        opacity: 0;
        translate: -15% 0;
    }
    100% {
        opacity: 1;
        translate: 0;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .home-impact__list-item.observed {
        animation-name: slide-right;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        opacity:1.0;
    }
}

@media (prefers-reduced-motion: reduce) {
    .home-impact__list-item.observed {
        animation-delay: 0ms !important;
        animation-duration: 0ms !important;
        animation-iteration-count: 1 !important;
        scroll-behavior: auto !important;
        transition-delay: 0ms !important;
        transition-duration: 0ms !important;
        opacity: 1.0;
    }
}