.home-intro {
    display: flex;
    flex-direction: column;
    padding-inline: var(--global-layout-padding-gutter);
    padding-top: var(--global-layout-padding-block);
    padding-bottom: var(--global-layout-padding-block);
    gap: 1rem;
    max-width: var(--global-layout-max-width);
    margin: 0 auto;
    align-self: center;
}