@import url(../global/typography.css);
@import url(../global/variables/colors.css);

.home-hero {
    font-family: var(--font-family-hero);
    background-image: url(../../assets/Stock1.jpg);
    background-size: cover;
    background-position: center;
    padding: 10em 0em;
    position: relative;
    color: var(--color-neutral-900);
  }
  
  /* .home-hero::before {
    height: 10%;
    background-image: linear-gradient(to bottom, #111111,rgba(255,255,255,0));
    content: "";
    inset: 0;
    position: absolute;
    z-index: 0;
  } */
  
  
  .home-hero::after {
    background-image: var(--color-hero-gradient);
    content: "";
    inset: 0;
    position: absolute;
    z-index: 0;
  }
  
  @media (min-width: 60rem) {
    .home-hero {
      height: 100vh;
      /* This is what allows us to dynamically center the home-banner--statement */
      padding-top: 37vh;
    }
  }