.home-values {
    padding-inline: var(--global-layout-padding-gutter);
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: var(--color-neutral-800);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.home-values__content h2 {
    padding-bottom: 1rem;
}

.home-values__cards-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-wrap: wrap;
}

.home-values__card {
    height: 100%;
    background-color: var(--color-neutral-900);
    width: 100%;
    padding: 2.25rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}