.home-values {
    --content-gap: 1rem;

    padding-inline: var(--global-layout-padding-gutter);
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: var(--color-neutral-800);
}

.home-values__content {
    display: flex;
    flex-direction: column;
    gap: var(--content-gap);
}

.home-values__content-bottom {
    display: flex;
    flex-direction: column;
    gap: var(--content-gap);
}

.home-values__cards-content {
    display: flex;
    flex-direction: column;
    gap: var(--content-gap);
}

.home-values__card {
    height: 100%;
    background-color: var(--color-neutral-900);
    width: 100%;
    padding: 2.25rem;
    display: flex;
    gap: var(--content-gap);
    flex-direction: column;
}   

@media (min-width: 64rem) {

    .home-values {
        margin: 0 auto;
        align-self: center;
        max-width: 90rem;
    }

    .home-values__content-bottom {
        flex-direction: row-reverse;
    }


}
