@import url(../global/typography.css);
@import url(../global/variables/colors.css);

.home-hero {
  --hero-height: 100svh;

  font-family: var(--font-family-hero);
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  color: var(--color-neutral-900);

  min-height: max(37.5rem, var(--hero-height));
  padding: 8rem 0;
  padding-inline: var(--global-layout-padding-gutter);
  padding-block: 6rem 2.75rem;
}

.home-hero.observed {
  animation-name: fade-in;
  animation-delay: 0ms;
  animation-duration: .8s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: .01;
  }
  100% {
    opacity: 1;
  }
}

.home-hero::before {
  background: linear-gradient(106deg, var(--color-neutral-200) 16.84%, rgba(39,45,60,.53) 56.05%,rgba(39,45,60,0) 98.07%);
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.home-hero__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: 1;
}

.home-hero__header {
  font-size: 2.25rem;
  font-weight: 300;
  letter-spacing: .05rem;
}

@media (min-width: 64rem) {

  .home-hero__content {
    width: 57%;
  }

  .home-hero__header {
    font-size: 3.625rem;
  }

  .home-hero__description {
    font-size: 1.5;
  }
}

.home-hero__description {
  font-size: 1.25rem;
  letter-spacing: .05rem;
}

.home-hero__background {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  inset: 0;
}

.home-hero__background img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  min-width: 43.75rem;
}
