@import url(../global/typography.css);
@import url(../global/variables/colors.css);

.home-hero {
    font-family: var(--font-family-hero);
    background-size: cover;
    background-position: center;
    position: relative;
    color: var(--color-neutral-900);
}

.home-hero::after {
  background-image: var(--color-hero-gradient);
  content: "";
  inset: 0;
  position: absolute;
  z-index: 0;
}

.home-hero__content {
  --color-hero-content: var(--color-header-background);

  background-color: var(--color-hero-content);
}