.home-values {
    --content-gap: 1rem;

    padding-inline: var(--global-layout-padding-gutter);
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: var(--color-neutral-800);
}

.home-values__content {
    display: flex;
    flex-direction: column;
    gap: var(--content-gap);
}

.home-values__content-bottom {
    display: flex;
    flex-direction: column;
    gap: var(--content-gap);
}

.home-values__cards-content {
    display: flex;
    flex-direction: column;
    gap: var(--content-gap);
}

.home-values__card {
    height: 100%;
    background-color: var(--color-neutral-900);
    width: 100%;
    padding: 2.25rem;
    display: flex;
    gap: var(--content-gap);
    flex-direction: column;
    opacity: .01;
}

.home-values__img-wrapper {
    opacity: .01;
    overflow: hidden;
    height: 50vh;
}

.home-values__img-wrapper img {
    object-fit: cover;
    object-position: 50% 100%;
    height: 100%;
    width: 100%;
}

@media (min-width: 52rem) {
    .home-values__cards-content {
        flex-direction: row;
    }

    .home-values__card {
        height:inherit;
    }

}

@media (min-width: 64rem) {

    .home-values__cards-content {
        flex-direction: column;
    }

    .home-values {
        margin: 0 auto;
        align-self: center;
        max-width: 90rem;
    }

    .home-values__content-bottom {
        flex-direction: row-reverse;
    }
}

@keyframes slide-up {
    0% {
        opacity: 0;
        translate: 0 15%;
    }

    100% {
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes slide-right {
    0% {
        opacity: 0;
        translate: 15% 0;
    }

    100% {
        opacity: 1;
        translate: 0;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .home-values__card.observed {
        animation-name: slide-up;
        animation-duration: 400ms;
        animation-timing-function: ease-in-out;
        opacity: 1.0;
    }

    .home-values__img-wrapper.observed {
        animation-name: slide-right;
        animation-duration: 400ms;
        animation-timing-function: ease-in-out;
        opacity: 1.0;
    }
}

@media (prefers-reduced-motion: reduce) {
    .home-values__card.observed,
    .home-values__img-wrapper.observed {
        animation-delay: 0ms !important;
        animation-duration: 0ms !important;
        animation-iteration-count: 1 !important;
        scroll-behavior: auto !important;
        transition-delay: 0ms !important;
        transition-duration: 0ms !important;
        opacity: 1.0;
    }
}
