.home-intro {
    display: flex;
    flex-direction: column;
    padding-inline: var(--global-layout-padding-gutter);
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 1rem;
}

@media (min-width: 64rem) {
    .home-intro {
        margin: 0 auto;
        align-self: center;
        max-width: 90rem;
    }
}