.project__main {
    position: relative;
    padding-inline: var(--global-layout-padding-gutter);
    padding-block: var(--global-layout-padding-block);
    --timeline-color: var(--color-primary-base);
    --timeline-background-color: var(--color-neutral-1000);
    background-color: var(--timeline-background-color);
}

.project__content,
.project__content > h2 {
    color: var(--color-neutral-0);
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
}

.project__content {
    margin: 0 2rem var(--global-layout-padding-block) 2rem;

}

.project__content > h2 {
    font-weight: 600;
}

.project__content > p {
    color: var(--color-neutral-100);
}

.project__year-list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.project__year-list::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    border-left: 2px solid var(--timeline-color);
    
}

.project__year {
    display: flex;
    position: relative;
}

.project__year::before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 13px;
    border: 2px solid var(--timeline-color);
    background: var(--timeline-background-color);
    flex-shrink: 0;
    position: absolute;
    left: -5px;
    top: 42px;
}

@media (min-width: 48rem) {
    .project__year::before {
        top: 41px;
    }
}

@media (min-width: 64rem ) {
    .project__year::before {
        top: 46px;
    }   
}

.project__project-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 1rem;
}

.project__card {
    padding: 2rem;
    min-width: 20ch;
    max-width: 70ch;
    background-color: var(--color-neutral-900);
    border-radius: 16px;
}

.project__card > h3 {
    padding-bottom: .75rem;
    font-family: var(--font-family-serif);
}

.project__card > p {
    color: var(--color-neutral-200);
}

.project__year-content {
    position: relative;
    padding-inline-start: .6rem;
}

.project__year-content > h2 {
    padding-block: .5rem;
    text-decoration: underline dashed var(--timeline-color) 2px;
    color: var(--timeline-color);
    font-weight: 500;
    font-family: var(--font-family-serif);
}
