.project-timeline {
    position: relative;
    padding-inline: var(--global-layout-padding-gutter);
    padding-block: var(--global-layout-padding-block);
}

.project__year-list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.project__year-list::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    border-left: 2px solid cornflowerblue;
    
}

.project__year {
    display: flex;
}

.project__year::before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 13px;
    border: 2px solid orange;
    flex-shrink: 0;
}

.project__project-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project__card {
    padding: 2rem;
    width: 60ch;
    background-color: pink;
}

.project__card > h3 {
    padding-bottom: .5rem;
}

.project__year-content > h2 {
    padding-block: .25rem;
    text-decoration: underline dashed orange 2px;
}
