/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

/*This is the font used by official bsa (serif font)*/
@import url("./variables/colors.css");
@import url("./typography.css");

/* We can layer this selector */
* {
  box-sizing: border-box;
  margin: 0;
  border: none;
  padding: 0;
  list-style: none;
}

::selection {
  color: var(--color-selection-text);
  background: var(--color-selection-background)
}

html {
  --page-background-color: var(--color-background);

  font-family: var(--font-family-body);
  font-weight: 300;
  font-size: 16px;
  color: var(--color-text);
  background-color: var(--page-background-color);
}

img {
  max-width: 100%;
  display: block;
}

:root {
  --global-layout-padding-gutter: 2rem;
  --global-layout-header-element-height: 5.375rem;
  --global-layout-max-width: 866px;
}

@media (min-width: 48rem) {
  :root {
    --global-layout-padding-gutter: 3.25rem;
  }
}

@media (min-width: 64rem) {
  :root {
    --global-layout-padding-gutter: 5rem;
  }
}
