@import url(../global//variables/colors.css);

header {
  --header-element-padding: var(--global-layout-padding-gutter);

  position: fixed;
  top:0;
  right: 0;
  left: 0;
  transition: ease .5s;

  backdrop-filter: blur(10px);
  background: var(--color-header-background);
  border-bottom: 1px solid rgba(92, 92, 89, .5);
  color: var(--color-neutral-1000);

  height: var(--global-layout-header-element-height);

  display: flex;
  width: 100%;
  z-index: 100;
  justify-content: space-between;
}
  
header.hide {
  transform: translateY(-100%);
}

.troop227-header__logo {
  padding:  .75rem 0rem .75rem var(--header-element-padding);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.troop227-header__logo img {
  width: 50px;
  height: 50px;
}

.troop227-header__title {
  align-self: center;
  font-size: .65rem;
  text-align: left;
}

.troop227-header__title span {
  font-size: .85em;
  color: var(--color-neutral-600);
  display: block;
}

.troop227-header__nav {
  padding:  1.5rem var(--header-element-padding) 1.5rem 0;
  pointer-events: all;
  display: flex;
  flex-direction: row;
  align-items: normal;
  justify-content: flex-end;
}

.troop227-header__list {
  align-items: center;
  gap: 1rem 2.25rem;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.troop227-header__list-item {
  position: relative;
}

.troop227-header__link {
  text-decoration: none;
  color: var(--color-neutral-1000);
  padding-block: .25rem;
}

.troop227-header__link::after {
  border-top: .1875rem solid;
  content: "";
  inset: auto auto -.1875rem 0;
  position: absolute;
  scale: 0 1;
  transform-origin: left center;
  transition: scale 100ms cubic-bezier(.01,.17,.16,.52);
  width: 100%;
}

.troop227-header__link:hover {
  position: relative;
  text-decoration: none;
}

.troop227-header__link:hover::after {
  scale: 1 1;
}

[data-desktop-only] {
  display: none;
}

@media (min-width: 600px) {
  [data-desktop-only] {
    display: block;
  }

  [data-mobile-only] {
    display: none;
  }

  .troop227-header__logo {
    flex-direction: row;
    gap: 1rem .75rem;
  }

  .troop227-header__title {
    font-size: 1rem;
  }

}
