@import url(../global//variables/colors.css);

header {
  --header-element-padding: var(--global-layout-padding-x);

  position: fixed;
  top:0;
  right: 0;
  left: 0;

  transition: ease .5s;
  /* taking inspiration from: https://ncx.com/ */

  backdrop-filter: blur(10px);
  background: var(--color-header-background);
  border-bottom: 1px solid rgba(92, 92, 89, .5);
  color: var(--color-neutral-1000);

  height: var(--global-layout-header-element-height);
  display: flex;
  width: 100%;
  z-index: 100;
}
  
header.hide {
  transform: translateY(-100%);
}

.troop227-header__logo {
  padding:  1.5rem 0rem 1.5rem var(--header-element-padding);
  width: auto;
  display: flex;
}

.troop227-header__logo img {
  display: block;
  margin:0 auto;
  width: 3rem;
}

.troop227-header__logo h1 {
  margin: 0;
}

.troop227-header__title span {
  display: block;
}

.troop227-header__list {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 1rem 2.25rem;
}

.troop227-header__link {
  text-decoration: none;
  color: var(--color-neutral-1000)
}

.troop227-header__nav {
  padding:  1.5rem var(--header-element-padding) 1.5rem 0;
  pointer-events: all;
  display: flex;
  flex-direction: row;
  align-items: normal;
  width: auto;
  justify-content: flex-end;
}
