@import url(../global//variables/colors.css);

header {
  position: fixed;
  top:0;
  right: 0;
  left: 0;
  z-index: 100;
  transition: ease .5s;
  /* taking inspiration from: https://ncx.com/ */

  backdrop-filter: blur(10px);
  background: var(--color-header-background);

  display: flex;
  border-bottom: 1px solid rgba(92, 92, 89, .5);
  color: var(--color-neutral-1000);
  width: 100%;
  padding: .65em;
}
  
header.hide {
  transform: translateY(-100%);
}

.header-nav__logo {
  display: flex;
  gap: .45em;
  text-align: left;
}

.header-nav__logo img {
  display: block;
  margin:0 auto;
  width: 3rem;
}

.header-nav__logo h1 {
  margin: 0;
}

.header-nav__title {
  font-weight: 900;
  font-size: 1.5rem;
}

.header-nav__title span {
  font-weight: 450;
  display: block;
  font-size: .75em;
}

.header-nav__ul {
  display: flex;
}

.header-nav__link {
  text-decoration: none;
  color: var(--color-neutral-1000)
}

@media (min-width: 60rem) {

  header {
    padding: 1em;
  }

  .header-nav__logo img {
    width: 4em;
  }

  .header-nav__logo {
    /* float: left; */
    width: initial;
    gap: 1em;
  }
}