.polaroid {
    margin: 0 auto;
    width: 100%;
    background: #dfdfdf;
    padding: 1rem;
    box-shadow: 0 1rem 1.2rem rgba(0,0,0,0.2);
  }


  
  @media (min-width: 60rem) {
  
    .home-intro figure img{
      width: auto;
    }
  
    .polaroid-skewed {
      transform: rotate(5deg);
      transition: all 0.35s;
    }
    
    .polaroid-skewed:hover {
      transform: rotate(0deg) !important;
      transition: all 0.35s;
    }
  
  
  }