:root {
    --color-primary-base: rgb(47, 58, 44);
    --color-secondary-base: rgb(60, 59, 110);
    --color-black-base: rgb(0,0,0);
    --color-white-base: rgb(255, 255, 255);
    --color-gray-base: rgb(143,143,143);

    /* mixins for making gradients from palette */
    --color-primary-0: color-mix(
        in srgb, /*specifies the interpolation method to mix the colors */
        var(--color-primary-base),
        var(--color-black-base) 90%
    );
    --color-primary-100: color-mix(
        in srgb,
        var(--color-primary-base),
        var(--color-black-base) 80%
    );
    --color-primary-200: color-mix(
        in srgb,
        var(--color-primary-base),
        var(--color-black-base) 60%
    );
    --color-primary-300: color-mix(
        in srgb,
        var(--color-primary-base),
        var(--color-black-base) 40%
    );
    --color-primary-400: color-mix(
        in srgb,
        var(--color-primary-base),
        var(--color-black-base) 20%
    );
    --color-primary-500: var(--color-primary-base);
    --color-primary-600: color-mix(
        in srgb,
        var(--color-primary-base),
        var(--color-white-base) 20%
    );
    --color-primary-700: color-mix(
        in srgb,
        var(--color-primary-base),
        var(--color-white-base) 40%
    );
    --color-primary-800: color-mix(
        in srgb,
        var(--color-primary-base),
        var(--color-white-base) 60%
    );
    --color-primary-900: color-mix(
        in srgb,
        var(--color-primary-base),
        var(--color-white-base) 80%
    );
    --color-primary-1000: color-mix(
        in srgb,
        var(--color-primary-base),
        var(--color-white-base) 100%
    );

    --color-neutral-0: color-mix(
        in srgb,
        var(--color-gray-base),
        var(--color-black-base) 100%
    );
    --color-neutral-100: color-mix(
        in srgb,
        var(--color-gray-base),
        var(--color-black-base) 80%
    );
    --color-neutral-200: color-mix(
        in srgb,
        var(--color-gray-base),
        var(--color-black-base) 60%
    );
    --color-neutral-300: color-mix(
        in srgb,
        var(--color-gray-base),
        var(--color-black-base) 40%
    );
    --color-neutral-400: color-mix(
        in srgb,
        var(--color-gray-base),
        var(--color-black-base) 20%
    );
    --color-neutral-500: var(--color-gray-base);
    --color-neutral-600: color-mix(
        in srgb,
        var(--color-gray-base),
        var(--color-white-base) 20%
    );
    --color-neutral-700: color-mix(
        in srgb,
        var(--color-gray-base),
        var(--color-white-base) 40%
    );
    --color-neutral-800: color-mix(
        in srgb,
        var(--color-gray-base),
        var(--color-white-base) 60%
    );
    --color-neutral-900: color-mix(
        in srgb,
        var(--color-gray-base),
        var(--color-white-base) 80%
    );
    --color-neutral-1000: color-mix(
        in srgb,
        var(--color-gray-base),
        var(--color-white-base) 100%
    );


    --color-header-background: var(--color-primary-100);
    --color-background: var(--color-neutral-900);
    --color-hero-gradient: linear-gradient(
        to top,
        color-mix(in srgb, var(--color-background), transparent 0%),
        color-mix(in srgb, var(--color-background), transparent 100%) 30%
    );

    --color-text: var(--color-neutral-0);
    --color-h2: var(--color-neutral-0);

    --color-scrollbar-body: var(--color-primary-600);
    --color-scrollbar-track: transparent;

    --color-selection-text: var(--color-primary-900);
    --color-selection-background: var(--color-primary-200);
    
    --color-ui-gradient: linear-gradient(
        45deg,
        var(--color-primary-100),
        var(--color-primary-200)
    );
    --color-ui-gradient-transparent: linear-gradient(
        45deg,
        color-mix(in srgb, var(--color-primary-200), transparent 10%),
        color-mix(in srgb, var(--color-primary-300), transparent 30%)
    );

}