

:root {
    --size-pixel: 0.0625rem;
    --size-one-qt: 0.25rem;
    --size-one-half-qt: 0.375rem;
    --size-half: 0.5rem;
    --size-three-qt: 0.75rem;
    --size-four-fifth: 0.8rem;
    --size-full: 1rem;
    --size-five-qt: 1.25rem;
    --size-six-qt: 1.5rem;
    --size-double: 2rem;
    --size-ten-qt: 2rem;
    --size-triple: 3rem;
    --size-quadruple: 4rem;

    --size-font-xsmall: 0.75rem;
    --size-font-small: 0.875rem;
    --size-font-medium: 1rem;
    --size-font-large: 1.25rem;
    --size-font-header: 2rem;

    --size-mobile-x: 18.75rem;
    --size-desktop-x: 120rem;
    --size-mobile-y: 12.5rem;
    --size-desktop-y: 67.5rem;
}